<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th>Book</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.notes.each do |note| %>
      <tr>
        <% if !note.book.nil? %>
          <td><%= note.book.title %></td>  
        <% else %>
          <td>"Global Book"</td>
        <% end %>
        <td><%= note.title %></td>
        <td><%= note.content %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
