<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Ruby Notes', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Books', books_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Notes', notes_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav">
      <!-- Icons -->
      <!-- Icon dropdown -->
        <li class="nav-item me-3 me-lg-0 dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="profileDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-user"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="profileDropdown">
            <li><%= link_to 'Profile', edit_user_registration_path, class:"dropdown-item" %></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'dropdown-item' %>
            </li>
        </ul>
        </li>
      </ul>
    </div>
    <% end %>
  </div>
</nav>
